In [2]:
import pandas as pd
#Files to load
data_load ="../Amazon_Vine_Analysis/vine_table.csv"

In [3]:
#read files
vine_df = pd.read_csv(data_load)

In [4]:
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R135Q3VZ4DQN5N,5.0,0.0,0.0,N,Y
1,R2N0QQ6R4T7YRY,5.0,0.0,0.0,N,N
2,R3N5JE5Y4T6W5M,5.0,0.0,0.0,N,Y
3,R2I150CX5IVY9Q,5.0,0.0,0.0,N,Y
4,R1RM9ICOOA9MQ3,5.0,0.0,0.0,N,Y

In [5]:
votes_plus20 = vine_df.loc[vine_df.total_votes>=20]
votes_plus20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5.0,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1.0,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1.0,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5.0,24.0,24.0,N,Y
1435,R36LII9IITE17,1.0,22.0,24.0,N,Y
...,...,...,...,...,...,...
1767276,R3AW1KGEXQ6IAJ,5.0,98.0,102.0,N,Y
1767306,R2AUHXN8SW8PCO,5.0,53.0,58.0,N,N
1767656,RH9B9G86S98P4,1.0,20.0,20.0,N,Y
1767742,R3D1P1IZR1GIET,5.0,16.0,35.0,N,N
1767752,RV2EZ4SCOCQC2,5.0,17.0,28.0,N,N

In [6]:
votes_plus20.shape

(7962, 6)

In [9]:
#votes_plus20['division'] =votes_plus20['division']*100

In [10]:
#Get the percentage of helpful_votes
greater_50 = votes_plus20.loc[votes_plus20['helpful_votes']/votes_plus20['total_votes']>=.5]
greater_50.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
49,R16YC6SMGKA8SR,5.0,23.0,23.0,N,Y
709,R5O4WE9UM60B0,1.0,29.0,29.0,N,Y
1077,R2EKRVCRC7U0IY,1.0,22.0,24.0,N,Y
1398,R2OKV47GETH0L7,5.0,24.0,24.0,N,Y
1435,R36LII9IITE17,1.0,22.0,24.0,N,Y

In [11]:
greater_50.shape

(7710, 6)

In [12]:
vine_paid = greater_50.loc[greater_50['vine']=='Y']

vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
243667,R15PXA9XU9ZKSU,4.0,29.0,29.0,Y,N
249955,R2LJ4QYQ4PYDEH,5.0,24.0,26.0,Y,N
381970,R2PJWWQZ37WCIC,5.0,95.0,96.0,Y,N
383020,R33G2VDKRN2USY,5.0,21.0,21.0,Y,N
735448,R13R4X37T2U50A,4.0,52.0,57.0,Y,N
740002,R1X1J2NAQ39DF6,4.0,29.0,34.0,Y,N
872349,R2UV5XHFNMPXOX,5.0,60.0,61.0,Y,N
1155110,R31V08BCC9X3MF,5.0,18.0,22.0,Y,N
1160608,R2G00QWTYW9N2G,5.0,86.0,91.0,Y,N
1163636,RL8H3NKKP989J,5.0,30.0,34.0,Y,N
1218084,RZ65QBOJ8ZNRN,4.0,19.0,22.0,Y,N
1219830,RDZBWH5MFEQY1,5.0,18.0,22.0,Y,N
1220381,R24SU7KP57HE8L,4.0,25.0,26.0,Y,N
1582922,RV3V9VIC29R8S,2.0,66.0,68.0,Y,N
1583464,R31AR3XSFSHY1B,4.0,33.0,35.0,Y,N
1585862,R3VWAKQ4JXGE55,5.0,33.0,34.0,Y,N
1587973,RNZ2BP0EHN7IK,5.0,20.0,20.0,Y,N
1590193,RXKITVQ3MN3PS,4.0,22.0,23.0,Y,N
1612363,R3TZE1OYDVZPRD,5.0,23.0,24.0,Y,N
1651458,R3FO353G2ET17M,4.0,23.0,24.0,Y,N
1652856,RHWHKPCJQEXUP,3.0,30.0,31.0,Y,N

In [18]:
vine_paid.count()

review_id            21
star_rating          21
helpful_votes        21
total_votes          21
vine                 21
verified_purchase    21
dtype: int64

In [19]:
vine_unpaid=greater_50.loc[greater_50['vine']=='N']
vine_unpaid.head(5)
vine_unpaid.shape

(7689, 6)

In [20]:
vine_unpaid.count()

review_id            7689
star_rating          7689
helpful_votes        7689
total_votes          7689
vine                 7689
verified_purchase    7689
dtype: int64

In [14]:
paid_reviews_5= vine_paid.loc[vine_paid['star_rating']==5].count()
paid_reviews_5.head(5)

review_id        11
star_rating      11
helpful_votes    11
total_votes      11
vine             11
dtype: int64

In [15]:
unpaid_reviews_5= vine_unpaid.loc[vine_unpaid['star_rating']==5].count()
unpaid_reviews_5

review_id            4444
star_rating          4444
helpful_votes        4444
total_votes          4444
vine                 4444
verified_purchase    4444
dtype: int64

In [17]:
total_paidstar= vine_paid.count()
total_paidstar

review_id            21
star_rating          21
helpful_votes        21
total_votes          21
vine                 21
verified_purchase    21
dtype: int64

In [41]:
total_paidstar= vine_paid.count()
percentage_reviews =(paid_reviews_5/total_paidstar)*100
percentage_reviews

review_id            52.380952
star_rating          52.380952
helpful_votes        52.380952
total_votes          52.380952
vine                 52.380952
verified_purchase    52.380952
dtype: float64

In [43]:
total_unpaidstar= vine_unpaid.count()
percentage_unpaidreviews =(unpaid_reviews_5/total_unpaidstar)*100
percentage_unpaidreviews

review_id            57.796853
star_rating          57.796853
helpful_votes        57.796853
total_votes          57.796853
vine                 57.796853
verified_purchase    57.796853
dtype: float64